table {
  border:0;
  width:100%;
}
.table-small table {
  border:0;
  width:auto;
}
table.wdform_table1 {
}
input[type="text"] {
  display: block;
  height: 34px;
  margin-left:0px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label,
.label {
  font-size:14px;
  color:#000;
  display: inline-block;
  max-width: 100%;
  margin: 0px;
  padding: 0px 0px 5px 0px;
  font-weight: 700;
}
.ch_rad_label {
  font-size:12px;
  font-weight:normal;
  margin-left:5px;
}
.form-group div {
  /*width:100%!important;*/
}
.toolbar_padding {
	padding: 10px;
	background-color: whitesmoke;
}
.mini_label {
	margin: 0px 0px;
	padding:0px;
	font-size: 11px!important;
}
.wdform_select {
}
.wdform_tbody2 {
	background-color:whitesmoke;
}
.wdform_select select {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: bor
}
.wdform_select .label {
}
.toolbar_padding textarea {
display: block;
width: 100%!important;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group table td {
	position:relative;
}
.form-group table td:first-child {
	padding-right:10px;
}
.form-group .wdform_line {
	margin: 0px 4px;
	padding: 0px;
	position: absolute;
	right: 3px;
	top: 8px;
}
.checkbox-container table td {
	padding-left:20px;
}
.checkbox-container table td input[type="checkbox"] {
	margin-left: -20px;
	display: inline;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
}
/*35_element_label13*/
#\32 8_element_label13,
#\32 9_element_label13,
#\33 0_element_label13,
#\33 2_element_label13,
#\33 3_element_label13,
#\33 5_element_label13 {
	font-size: 12px;
	font-weight: 300;
}
#\33 5_element_label13 {
	padding-left:10px;
}
input#\31_element13 {
	width:100%!important;
}
#\33 3_label_section13,
#\33 5_label_section13 {
	width: 50px;
	position: relative;
}
#\33 3_label_and_element_section13 {
	position:relative;
}
.checkbox-container table td label {
	line-height:15px;
	margin-left: 0px;
	float: left;
}
#\33 3_element_label13 {
	font-size: 11px!important;
	font-weight: bold;
	padding-left:10px;
}
#\33 7_div_address,
#\31 5_element13 {
	width:100%!important;
}
#\33 7_label_and_element_section13 {
	padding-bottom:0px;
}
#\33 3_element_section13,
#\33 5_element_section13 {
	position:relative;
	background-color: transparent;
	padding-top:0px;
}
.required {color:red;}

tr[type="type_text"] input[type="text"] {}

.widget_type_filter h3.widget-title,
.widget_type_filter2 h3.widget-title {
	font-size:26px;
	font-weight:bold;
	line-height:26px;
	color:#067298;
	margin:0px;
}
.widget_type_filter .filters,
.widget_type_filter2 .filters2 {
padding: 5px 10px 10px 20px;
border-radius: 5px;
margin-top: 10px;
}
.widget_type_filter .filters .row,
.widget_type_filter2 .filters2 .row {
	margin:0px;
}
.row.buttons {
margin-left: -25px!important;
}
.widget_type_filter .filters .filter-label,
.widget_type_filter2 .filters2 .filter-label {
font-size: 14px;
line-height: 14px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 10px;
margin-left: -20px;
display: block;
}
.widget_type_filter .filters label,
.widget_type_filter2 .filters2 label {
	margin-left:5px;
}
.widget_type_filter .filters #submit,
.widget_type_filter .filters #reset,
.widget_type_filter2 .filters2 #submit,
.widget_type_filter2 .filters2 #reset {}